html {
	color: rgb(31, 31, 31);
}

input, select, textarea, button{font-family:inherit;text-transform: inherit;}


#main{
	font-family: 'gs';
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: justify;
}

#main a{text-decoration: none;}

#box{
	width: 60%;
	height: 60%;
	top: 20%;
	left: 23%;
	position: absolute;
	padding: 0px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform:uppercase;
}

#nav{
	text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;

	width: 100%;
	min-height: 5%;

	vertical-align: baseline;

	background-color: #295b80;
	color: white;
}

.nav-point{padding: 10px;}

#structure{
	width: 100%;
	height: 95%;

	background-color: #212324;
	overflow: auto;
	font-size: 12px;
}

#contentbox{padding: 25px;}

.list-point{
	list-style: none;

	width: 98%;
	padding: 12px;
	margin-bottom: 3px;

	background-color: #295b80;
	color: white;

	text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.activate:hover{background-color: #1b3f59;cursor: pointer;}
.activate:active{box-shadow: none;}
.balance{font-weight: bold;}
.to-the-left{float:left; width: 45%; font-weight: bold;}
.to-the-right{float: right;}
.red-point{background-color: rgb(128, 35, 35);}
.red-activate{background-color: rgb(128, 35, 35);}
.red-activate:hover{background-color: rgb(167, 33, 33);}
.red-activate:active{box-shadow: none;}
.shadow{color: white; text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;}
.icon{font-size: 18px; margin-left: 8px;}
input{border:0.5px solid #2b580c; font-size: 14px; padding: 4px; margin: 5px; width: 20%;}
button{border: none; padding: 4px; width: 22.5%; font-size: 14px; background-color: #295b80; color: white; font-weight: bolder; margin-left: 1px; }
#nav span:hover{color: rgb(184, 179, 179); cursor: pointer;}
#nav span .close{color: rgb(128, 35, 35);}
#nav span .close:hover{color: rgb(167, 33, 33);}

::-webkit-scrollbar {width: 0.1vw;}
::-webkit-scrollbar-track {border: 0.1px solid #000;}
::-webkit-scrollbar-thumb {background: #295b80;}
::-webkit-scrollbar-thumb:hover {background: #1b3f59;}
textarea, select, input, button { outline: none; }
